/* Write your CSS here */
.appBackground {
  background-color: #f1f5f8;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto';
}
.headText {
  text-align: center;
  font-family: 'Roboto';
}
.paraText {
  color: #2d3a35;
}
.countNumber {
  color: #c20a72;
}
.btn1 {
  background-color: #007bff;
  color: #ffffff;
  border: 0;
  padding: 8px;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
